@inherits LayoutComponentBase

<Layout class="page" Style="background-color:black" >

    <Content>
        @Body
    </Content>
</Layout>

@* 
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4" style="height:100%">
            @Body
        </article>
    </main>
</div>
 *@
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style>
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: black;
    }

    ::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 4px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: bisque;
        }
</style>
